body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{        
  padding-top: 60px;
  padding-bottom: 40px;
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 7px 25px;
  display: inline-block;
}
nav img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  
}